NODE_ENV=development

MONGO_URI=
MONGO_DB_NAME=

JWT_SECRET=
JWT_TEMP_SECRET=

RATELIMIT_WINDOW_MS=900000
RATELIMIT_MAX_REQUESTS=100

CORS_ORIGIN=

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_END_POINT=