# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.*
!.env.example

# Serverless
.serverless/
.serverless_plugins/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary
tmp/
temp/